
//----------- HEADER ----------------

.main_header
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  padding: 1em 2em
  .main_logo
    +flex
    .detector_type_text
      color: $secondarycolor
      font-weight: bold
      font-size: 1.8em
      margin-left: .5em
      padding-top: .05em
    .detector_type_logo
      display: block
      margin: auto
      width: 7.3em
      padding-top: .2em
      margin-left: .5em
      //position: relative
      //z-index: 1
      //width: 5em
      //top: -.9em
      //left: -1.3em
      //@include transform(rotate(-8deg))
    .fake_detector_logo
      display: block
      margin: auto
      width: 12em
      //position: absolute
      //@include hand_cursor
  .educalab
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    .text_educalab
      font-weight: lighter
      margin-right: .8em
      padding-top: .3em
    .educalab_logo
      width: 4em


@media (max-width: $media6) and (orientation: landscape) 

  .main_header
    padding: .7em
    .main_logo
      .detector_type_text
        font-size: .87em
        margin-left: .2em
        padding-top: 0em
      .detector_type_logo
        width: 3.8em
        padding-top: .1em
        margin-left: .2em
        //top: -0.44em
        //left: -.45em
      .fake_detector_logo
        width: 6em
    .educalab
      .text_educalab
        font-size: .6em
      .educalab_logo
        width: 2em

@media (max-width: $media9) and (orientation: landscape)

  .main_header
    padding: .7em


@media (max-width: $media9) 
  
  .main_header
    padding: 1em
    margin-top: .5em
    .main_logo
      .detector_type_text
        font-size: .87em
        margin-left: .2em
        padding-top: 0em
      .detector_type_logo
        width: 3.8em
        padding-top: .1em
        margin-left: .2em
        //top: -0.44em
        //left: -.45em
      .fake_detector_logo
        width: 6em
    .educalab
      .text_educalab
        font-size: .5em
        margin: 0 1em 0 0
      .educalab_logo
        width: 2em
     


